*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 300px 100px;
    height: 150px;
    background-color: rgb(232, 234, 240);
    color: rgb(9, 9, 9);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    border-radius: 10px ;
}
.rasm-0,img{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.rasm-0,.bosh{
    margin: 15px;
    text-align: center;
    font-size: 20px;
}
ul,.matn{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
ul,.rasm{

    list-style: none;
}
.rasm-0,.rasm:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
.matn:hover{
    transform: scale(1.1);
    transition: 1.2s;
    color: blue;
    cursor: pointer;
}
.bosh:hover{
    transform: scale(1.1);
    transition: 1.2s;
    cursor: pointer;
    color: blue;
}
.bosh-2{
    margin: 20px;
}
.matn-ichida-2{
    margin: 20px;

}
.bosh-2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-2{
    display: flex;
    justify-content: space-between;
}
.box-ichida-0{
    margin: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius:10px;
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.box-0{
    display: flex;
    justify-content: space-between;
}
.rasm-1{
    width: 500px;
    margin: 20px;
    height: 400px;
}
.bosh-3{
    text-align: center;
}
.matn-3{
    text-align: center;
    margin: 20px;
    font-size: 15px;
}
.box-katta{
    display: flex;
    justify-content: space-between;
}
.box-3{
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}
.nima{
    text-align: center;
}
.doctor{
    margin: 15px;
    text-align: center;
    font-size: 20px;
}
.box-3:hover{
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.5);
}
.rasm-2{
    margin: 20px;
}
.box-4{
    margin: 20px;
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.box-4:hover{
    cursor: pointer;
    transition: 1.2s;
    transform: scale(1.1);
    background-color: rgba(0, 0, 255, 0.568);
}
.nima-2{
    text-align: center;
}
.matn-4{
    text-align: center;
}
.box-5{
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}
.rasm-3{
    margin: 20px;
}
.nima-3{
    text-align: center;
}
.conclusion{
    gap: 10px;
    text-align: center;
    font-size: 20px;
}
.box-5:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition:1.2s;
    background-color: rgba(0, 0, 255, 0.549);
}
.box-katta-1{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.box-6{
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
.nima-5{
    margin: 10px;
}
.box-6:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.536);
    transform: scale(1.1);
    transition: 1.2s;
}
.matn-5{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
.box-7{
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px ;
}
.rasm-4{
    text-align: center;
    margin:10px;
}
.matn-6{
    text-align: center;
    font-size: 20px;
    margin: 20px;

}
.box-7:hover{
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.544);
}
.box-8{
    width: 400px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
.box-8:hover{
    background-color: rgba(0, 0, 255, 0.5);
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.nima-6{
    margin: 10px;
}
.matn-7{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.tugma-katta{
    text-align: center;
}
.tugma{
    height: 40px;
    width: 200px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: aliceblue;
}
.tugma:hover{
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
    color: black;
    background-color: rgba(0, 0, 255, 0.621);
}
.rasm-9{
    margin: 20px;
    width: 500px;
    height: 500px;
}
.rasm-9:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
.box-katta-3{
    display: flex;
    justify-content: space-between;
}
.matn-10{
    margin: 20px;

}
.matn-10:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.616);
    transform: scale(1.1);
    transition: 1.2s;
}
.a{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifz;
}
.s:hover{
    color: rgba(0, 0, 255, 0.519);
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.u{
    text-align: center;
}
.u:hover{
    color: rgba(0, 0, 255, 0.489);
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.box-11{
    overflow: hidden;
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
}
.box-11:hover{
    cursor: pointer;
    transition: 1.2s;
    transform: scale(1.1);
    background-color: rgba(0, 0, 255, 0.545);
}
.box-katta-4{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.rasm-11{
    width: 400px;
    height: 200px;
}
.matn-11{
    margin: 20px;
    font-size: 16px;
    text-align: center;
}
.box-12{
    overflow: hidden;
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px ;
}
.box-12:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: rgba(0, 0, 255, 0.503);
}
.rasm-12{
    width: 400px;
    height: 200px;
}
.matn-12{
    text-align: center;

}
.on{
    margin: 10px;
    text-align: center;
    font-size: 15px;
}
.box-13{
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.box-13:hover{
    background-color: rgba(0, 0, 255, 0.551);
    transition: 1.2s;
    transform: scale(1.1);
    cursor: pointer;
}
.rasm-13{
    width: 400px;
    height: 200px;
}
.bosh-13{
        text-align: center;

}
.matn-13{
    text-align: center;
    font-size: 16px;
}
.knop-2{
    text-align: center;
}
.knop-3{
    text-align: center;
    width: 300px;
    background-color: black;
    color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
}
.knop-3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: rgba(0, 0, 255, 0.553);
    color: aliceblue;
}
footer{
    border-radius: 10px;
    border: 3px solid rgb(3, 108, 255);
    margin: 20px;
    background-color: rgb(3, 116, 255);
    width: 400px 100px;
    height: 200px;
}
.box-katta-5{
    justify-content: space-between;
    display: flex;
    color: aliceblue;
    height: 200px;
    width: 300px;
    margin: 20px;
}
.k,.m{
    justify-content: space-between;
    display: flex;
    font-size: 25px;
    margin: 20px;
}